{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 11"]
        }
        // "useBuiltIns": true
      }
    ],
  ["@babel/preset-stage-0", { "decoratorsLegacy": true }],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
